.jumbotron {
    height: 250px;
    background-image: url("https://static.pexels.com/photos/7103/writing-notes-idea-conference.jpg");
    background-size: cover;
    color: white
}
h1 {
    margin-left: 20px;
    margin-top: 50px
}

#list {
    width: 50%;
    float: right;
    margin: 20px;
}

#submit{
    margin-top: 10px
}